{% extends 'AppBundle:Part:edit_layout.html.twig' %}

{% block subcontent %}  
    <a class="btn btn-info" style="margin-bottom: 10px;" href="{{ path('czesci_drzewo', {'id': part.project.id }) }}">Zobacz Strukturę <i class="fa fa-sort-amount-desc"></i></a>
    <div class="row clearfix">    
        <div class="col-md-4">
            {{ include('AppBundle:Part:inc_tree.html.twig', {'part':part}) }}
        </div>    
        <div class="col-md-8">    
            {{ include('AppBundle:Part:inc_form.html.twig', {'form':form}) }}   
        </div>
    </div>
{% endblock %}