{# Przypisywanie materiałów #}
{% extends 'AppBundle:Part:edit_layout.html.twig' %}
{% block subcontent %}  
<div class="form-group">    
    <a class="btn btn-success" id="trg-technology-add" href="{{ path('czesc_technologia_dodaj', {'id': part.id}) }}">Dodaj techmologię</a>    
    
    {% if part.technologies2part | length %}
    <table class="table table-bordered" style="margin-top: 20px;">
        <thead>
            <tr>
                <th class="text-center">Nazwa</th>
                <th class="text-center">Gotowa</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for technology2part in part.technologies2part %}
            <tr>
                <td class="text-center">
                    {{ technology2part.technology.name }}
                </td>
                <td class="text-center">
                   <span class="label {% if technology2part.isCompleted %}label-success{% else %}label-warning{% endif %}">
                       {% if technology2part.isCompleted %} TAK {% else %} NIE {% endif %}
                   </span>
                </td>
                <td class="text-center">
                    <a class="btn btn-info trg-technology-edit" href="#">Harmonogram</a>
                </td>                
                <td class="text-center">
                    <a class="btn btn-info trg-technology-edit" href="{{ path('czesc_technologia_edytuj', {'id': part.id, 'id_technology2part': technology2part.id}) }}">Edytuj</a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" href="{{ path('czesc_technologia_usun', {'id': part.id, 'id_technology2part': technology2part.id }) }}">Usuń</a>
                </td>
            </tr>    
            {% endfor %}
        </tbody>        
    </table>
    {% endif %}        
    
    <div id="modal-ajax" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>
    
    {% raw %}
        <script>       
            
            var ModalAjax = {
                cnt: null,
                
                init: function(){
                    var self = this;
                    this.cnt = $("#modal-ajax");
                    this.cnt.modal({
                        show: false
                    });
                    
                    $(this.cnt).delegate("form", "submit", function(e){        
                        e.preventDefault();                                   
                        var url = $(this).attr("action");
                        var data = $(this).serialize()
                        self.load(url, data);
                    });
                    
                },
                
                show: function(title){
                  var title = title || "";
                  this.cnt.find(".modal-title").html(title);
                  this.cnt.modal("show");  
                },                
                
                load: function(url, data){
                    var self = this;
                    $.post(url, data).success(function(data, statusText, xhr){                        
                        console.log("statusCode", xhr.getResponseHeader("ttm-reload"));
                        
                        if(xhr.getResponseHeader("ttm-reload")){
                            window.location.reload();
                        }else{
                            self.cnt.find(".modal-body").html(data);
                        }
                        
                        
                    });
                }                
            };
            
            ModalAjax.init();
            
            // Dodawanie technologi
            $("#trg-technology-add").on("click", function(e){
               e.preventDefault();
               ModalAjax.show("Dodawanie technologi");
               ModalAjax.load($(this).attr("href"));               
            });
            
            // Edycja technologi
            $(".trg-technology-edit").on("click", function(e){
               e.preventDefault();
               ModalAjax.show("Edycja technologi");
               ModalAjax.load($(this).attr("href"));               
            });
        </script>            
    {% endraw %}
</div>  
{% endblock %}