 <div id="cnt-part-tree" >
   
</div>

{% raw %} 
    <script>
        $(function ($) {
            var sourceUrl           = {% endraw %}"{{ path('czesc_drzewko_struktura',{'id': part.project.id }) }}?idPart={{ part.id }}"{% raw %};
            var linkTreeName            =  {% endraw %}"{{ linkTreeName }}"{% raw %};

            $("#cnt-part-tree").fancytree({               
                source: {
                    url: sourceUrl,
                    cache: false
                },
                checkbox: false,
                
                click: function(e, data){
                    e.preventDefault();
                    if(data.node.data.link_details){
                        location.href = data.node.data[linkTreeName];          
                    }
                    return false;                    
                }
            });
        });
    </script>
{% endraw %}