<form method="post" action="{{ app.request.requestUri }}">    
    {% for technology in technologies %}    
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="technologies[{{ technology.id }}]" value="{{ technology.id }}"> 
                    {{ technology.name }}
                </label>
            </div>
        </div>    



    {% endfor %}         
    <div class="form-group">
        <button class="btn btn-info" type="submit">
            Zapisz
            <i class="fa fa-floppy-o"></i>
        </button>
    </div>
</form>