{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}    
    {{ form_row(form.name) }}    
    {{ form_row(form.isDrawing) }}    
    <button type="submit" class="btn btn-info">Zapisz</button>
{{ form_end(form) }}    
