{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}

{% for user in users %}
{% set userid = user.getId %}
<a href="{{ path('listByDay', {'user_id': userid}) }}">{{user.getemail}}</a><br />
{% endfor %}

{% endblock %}
