<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ __header__.title }}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="theme-whbl  fixed-header fixed-footer fixed-leftmenu pace-done">
        {% block content %}{% endblock %}   
        
        {% block javascripts_footer %}
            
        {% endblock %}
        
    </body>
</html>