
input.small {
    width: 80px;
}

.unit {
    font-style: italic;
}

.unit::before {
    content: '[';
}
.unit::after {
    content: ']';
}


span.fancytree-selected span.fancytree-title {
    background-color: #eee;
    border-color: #01b9fe;
}
