{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}                                   
<div class="panel panel-default">
 <div class="panel-heading">Szybkie menu</div>
   <div class="panel-body"> 
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="main-box infographic-box colored emerald-bg">
            <div class="row">
                <div class="col-md-3 left-icon-widget">
                    <span>
                        <i class="icon-big fa fa-th-large"></i> 
                    </span>
                </div>
                <div class="col-md-9">
                    <span class="headline">Baza materiałów</span>
                    <a href="{{ path('material_dodaj') }}"><span class="value">Dodaj materiał</span><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="main-box infographic-box colored green-bg infographic-box-green">
            <div class="row">
                <div class="col-md-3 left-icon-widget">
                    <span>
                        <i class="icon-big fa fa-cog"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <span class="headline">Baza projektów</span>
                    <a href="{{ path('projekt_dodaj') }}"><span class="value">Dodaj projekt</span><i class="fa fa-plus-square"></i></a>
                </div>
            </div>  
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="main-box infographic-box colored red-bg infographic-box-red">
            <div class="row">
                <div class="col-md-3 left-icon-widget">
                    <span>
                        <i class="icon-big fa fa-user"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <span class="headline">Baza pracowników</span>
                    <a href="{{ path('uzytkownik_dodaj') }}"><span class="value">Dodaj pracownika</span><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="main-box infographic-box colored purple-bg infographic-box-violet">
            <div class="row">
                <div class="col-md-3 left-icon-widget">
                    <span>
                        <i class="icon-big fa fa-wrench"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <span class="headline">Baza Technologii</span>
                    <a href="{{ path('procesy_dodaj') }}">
                        <span class="value">Dodaj technologie</span>
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
   </div>                    
 </div>
{% endblock %}